* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans';
  -webkit-font-smoothing: antialiased;
}

:root {
  --pink-700: #7f004a;
  --pink-600: #dd57a5;
  --pink-300: #eb9ac9;
  --pink-200: #f7d8ea;
  --pink-100: #fef8fb;

  --gray-700: #061800;
  --gray-500: #384633;
  --white: #3e3e3e;
}

.menu{
  background-color:#f7d8ea ;
  display: flex;
  margin: auto; 
  width: 1000px;
}

.menu .logo {
  padding-top: 15px;
}

.menu-itens {
  width: 700px;
  height: 20px;
  margin-top: 50px;
  text-align: center;
}

.menu-itens i{
  padding-left: 15px;
  
  height: 15%;
}


.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 25px; 
  background-color:#fef8fb ;
}

.content .produto {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;

}

.content .produto img{
  width: 40%;
}

.content .preco p{
  padding-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.content .info{
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 12px;
  font-weight: bold;

}

.content .tamanho{
  display: flex;
  gap: 2px;
  text-align: center;
  flex-direction:column;
  font-weight: bold;
  font-size: 14px;
  padding: 5px;
}
.tamanho p{
  padding: 5px;
  margin-left: 10px;
}

.tamanho-numeros {
  background-color:#f7d8ea;
  border-radius: 9px;
  width: 50px;
  height: 50px;
  padding: 5px;
  margin-left: 10px;
  padding-left: 5px;
  

}

.content .quantidade {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  background-color: #eb9ac9;

  
}

.botao-adicionar p{
  color: var(--pink-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.botao-adicionar {
  width: 350px;
  height: 40px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color:#7f004a;
}

.rodape {
  margin-top: 200px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  border: #061800 solid 1px;
  background-color: #7f004a;
  height: 220px;

}

.rodape img {
  width: 500px;
  margin-left: 100px;
}

.rodape .redes-sociais {
  text-align: center;
}

.rodape p{
  color: var(--pink-100);
  padding: 10px;
  width: 600px;
  margin-left: 200px;
  margin-right: auto;
}

.rodape i{
  padding: 5px;
  color: var(--pink-100);
  
}

